html{
    margin: 0;
    padding: 0;
    height: 100%;
}


.cc-navbar{
    background-color:rgb(15, 15, 15);
}

/* page accueil
.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position:relative ;
    z-index: 0;

} */


.envoi{
    /* position: absolute; */
    /* left: 50%;
    top: 30%; */
    margin-top: 15%;
    
    }
/* 
.image1{
    position: relative;
    } */

 body{
    background-color: #47B4D1;

 }

.parallax{
   position: absolute;
   top:176px;
   min-width: 100%;
   min-height: 800px;
    background-image: url('../images_the_district/ibg.jpg');
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}



 .title-page {
    text-align: left;
    /* margin-top: 5%; */
    
    

 }




 /* .position-absolute {
    top: 26%;
    left: 60%;
    
    
 } */

 .search {
    display: flex;
    top: 15%;
    left: 40%;
    width: 20rem;
    position : absolute;
    justify-content: center;
    
    
 } 


/* card */

.card{
    transition: all 0.3s;
}

 .card:hover{
    transform:scale(1.10);
 }

/* formulaire contact */

 .contact{
    margin-bottom: 10rem;
 }


 /* footer */

.icons li{
   list-style: none;
}



video{
   width : 50%;
   height : 50%;
   justify-content:  center;
   position : relative;

   /* object-fit: cover; */
}

/* pour la marge en bas de page */

/* .card-custom{
   margin-bottom: 5%;
   margin-top: 5%;
} */

/* politique confidentialité et mention légale */

.link{
   text-decoration: none;
   list-style: none;
   font-weight: bold;
   color: black;
   font-size: 20px;
}

.link:hover{
   color: white;
}

.img-card{
   max-height: 250px;
   object-fit: cover;
}

@media (min-width: 375px) {
  .search {
    display: flex;
    align-items: inherit;
 } 
}