html{
    margin: 0;
    padding: 0;
    height: 100%;
}


.cc-navbar{
    background-color:rgb(15, 15, 15);
}

/* page accueil*/
.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position:relative ;
    z-index: 0;

}


.envoi{
    /* position: absolute; */
    /* left: 50%;
    top: 30%; */
    margin-top: 15%;
    
    }
/* 
.image1{
    position: relative;
    } */

 body{
    background-color: #47B4D1;


 }
.parallax{
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
   
    
    }



 .title-page {
    text-align: center;
    
    

 }




 .position-absolute {
    top: 26%;
    left: 60%;
 }

 .search {
   
    top: 30%;
    left: 40%;
    width: 20rem;
    position : absolute;
    justify-content: center;
    
 } 


/* card */

.card{
    transition: all 0.3s;
}

 .card:hover{
    transform:scale(1.15);
 }

/* formulaire contact */

 .contact{
    margin-bottom: 10rem;
 }


 /* footer */

.icons li{
   list-style: none;
}



video{
   width : 60%;
   height : 60%;
   justify-content:  center;
   position : relative;

   /* object-fit: cover; */
}



